/* Specific overrides for screen sizes */

/* Smartphone portrait */
@media only screen and (max-width:320px) {
  header#header div#branding {
    float: none;
    margin: auto;
    text-align: center; 
  }
  header#header div.region-header {
    display: table;
    float: none;
    margin: 15px auto 0;
    text-align: center;
    width: auto;
  }
  header#header div.region-header .block {
    clear: both;
    display: block;
    margin: auto;
    padding: 0 0 10px !important;
    text-align: left;
    width: auto;
  }
  header#header div.region-header .block-inner {
    margin: 0 20px;
  }
  header#header div#logo,
  header#header h1#site-name,
  header#header h2#site-slogan {
    float: none;
    margin: 0;
    padding: 0 0 6px;
    text-align: center;
  }
  #menu-bar-wrapper,
  #menu-bar {
    min-height: 3em;
    height: auto;
  }
  #menu-bar {
    padding: 0 2px;
  }
  #menu-bar .block {
    clear: both;
    float: none;
  }
  #menu-bar .menu-wrapper > ul,
  #menu-bar .menu-wrapper > ul > li {
    display: block;
    float: none;
    margin: 0;
    overflow: hidden;
    border-bottom: 1px solid rgba(255,255,255,0.5);
  }
  #menu-bar .menu-wrapper ul > li > a {
    padding: 6px 10px 8px;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  #menu-bar .sf-menu {
    height: auto;
    padding: 2px 0;
  }
  #menu-bar .menu-wrapper ul ul {
    display: none !important;
  }
  .region-header .block {
    overflow: hidden;
  }
  .article-title {
    font-size: 1.5em;
  }
  #secondary-content-wrapper .block-content-inner {
    padding: 0;
  }
  #secondary-content-wrapper .block-content-inner  img {
    max-width: 280px;
    display: block;
    margin: 10px auto;
  }
  #secondary-content-wrapper .block-content-inner .views-row {
    max-width: 90%;
    margin: auto;
  }
  #secondary-content-wrapper .block-content-inner .image-right,
  #secondary-content-wrapper .block-content-inner .image-left,
  .field-type-image {
    float: none !important;
    display: block !important;
    margin: auto !important;
    text-align: center !important;
  }
}
/* Smartphone landscape */
@media only screen and (min-width:321px) and (max-width:480px) {
  header#header div#branding {
    float: none;
    margin: auto;
    text-align: center; 
  }
  header#header div.region-header {
    display: table;
    float: none;
    margin: 15px auto 0;
    text-align: center;
    width: auto;
  }
  header#header div.region-header .block {
    clear: both;
    display: block;
    margin: auto;
    padding: 0 0 10px !important;
    text-align: left;
    width: auto;
  }
  header#header div.region-header .block-inner {
    margin: 0 20px;
  }
  header#header div#logo,
  header#header h1#site-name,
  header#header h2#site-slogan {
    float: none;
    margin: 0;
    padding: 0 0 6px;
    text-align: center;
  }
  #menu-bar-wrapper,
  #menu-bar {
    min-height: 3em;
    height: auto;
  }
  #menu-bar {
    padding: 0 2px;
  }
  #menu-bar .block {
    clear: both;
    float: none;
  }
  #menu-bar .menu-wrapper ul ul {
    display: none !important;
  }
  #menu-bar .menu-wrapper > ul,
  #menu-bar .menu-wrapper > ul > li {
    display: block;
    float: none;
    margin: 0;
    overflow: hidden;
    border-bottom: 1px solid rgba(255,255,255,0.5);
  }
  #menu-bar .menu-wrapper ul > li > a {
    padding: 6px 10px 8px;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  #menu-bar .sf-menu {
    height: auto;
    padding: 2px 0;
  }
  .region-header .block {
    overflow: hidden;
  }
  .article-title {
    font-size: 1.5em;
  }
  #secondary-content-wrapper .block-content-inner {
    padding: 0;
  }
  #secondary-content-wrapper .block-content-inner  img {
    max-width: 280px;
    display: block;
    margin: 10px auto;
  }
  #secondary-content-wrapper .block-content-inner .views-row {
    max-width: 90%;
    margin: auto;
  }
  #secondary-content-wrapper .block-content-inner .image-right,
  #secondary-content-wrapper .block-content-inner .image-left,
  .field-type-image {
    float: none !important;
    display: block !important;
    margin: auto !important;
    text-align: center !important;
  }
}
/* Tablet portrait */
@media only screen and (min-width:481px) and (max-width:768px) {
  header#header div#branding {
    float: none;
    margin: auto;
    text-align: center; 
  }
  header#header div.region-header {
    display: table;
    float: none;
    margin: 15px auto 0;
    text-align: center;
    width: auto;
  }
  header#header div.region-header .block {
    clear: none;
    display: inline;
    margin: auto;
    padding: 0 0 15px !important;
    text-align: left;
    width: auto;
  }
  header#header div.region-header .block-inner {
    margin: 0 20px;
  }
  header#header div#logo,
  header#header h1#site-name,
  header#header h2#site-slogan {
    float: none;
    margin: 0;
    padding: 0 0 6px;
    text-align: center;
  }
  .hl-r #logo {
    padding: 0 3px 7px 10px;
  }
  .hl-l #logo {
    padding: 0 10px 7px 3px;
  }
  #site-name {
    font-size: 1.8em;
  }
  #secondary-content-wrapper .block-content-inner  .image-right,
  #secondary-content-wrapper .block-content-inner  .image-left,
  #secondary-content-wrapper .block-content-inner  .field-type-image,
  #secondary-content-wrapper .block-content-inner  figure  {
    max-width: 50%;
  }
  #secondary-content-wrapper .block-content-inner img {
    max-width: 100%;
  }
}
/* Tablet landscape */
@media only screen and (min-width:769px) and (max-width:1024px) {
  .hl-r #logo {
    padding: 0 3px 7px 0;
  }
  .hl-l #logo {
    padding: 0 0 7px 3px;
  }
  #site-name {
    font-size: 2em;
    white-space: pre;
  }
}
/* Standard layout */
@media only screen and (min-width:1025px) {
}
