/* AT Styles
 * NOTICE: This is a commercial Drupal theme. Elements of this theme including this field
 * are licensed under a standard commercial license which does not permit redistribution. 
 */
/* HL - Left */
.hl-l #branding {
  float: left;
}
.hl-l .region-header {
  float: right;
  margin: 0 10px;
}
.hl-l .region-header .block {
  display: inline;
  clear: none;
  margin-bottom: 0;
}
.hl-l #logo,
.hl-l hgroup {
  padding-right: 18px;
  float: left;
}
/* HL - Right */
.hl-r #branding {
  float: right;
  margin: 0 20px; 
}
.hl-r .region-header {
  float: left;
  margin: 0 10px;
}
.hl-r .region-header .block {
  display: inline;
  clear: none;
  margin-bottom: 0;
}
.hl-r #logo {
  float: right;
  margin: 0 0 0 10px;
  padding: 0 3px 7px 20px;
}
.hl-r #site-name,
.hl-r #site-slogan {
  text-align: right;
}
/* HL - Centered */
.hl-c #branding {
  float: none;
  margin: auto;
  text-align: center; 
}
.hl-c .region-header {
  display: table;
  float: none;
  margin: 15px auto 0;
  text-align: center;
}
.hl-c .region-header .block {
  clear: none;
  display: inline;
  margin: auto;
  padding: 0 0 20px !important;
  text-align: left;
}
.hl-c .region-header .block-inner {
  margin: 0 20px;
}
.hl-c #logo,
.hl-c #site-name,
.hl-c #site-slogan {
  float: none;
  margin: 0;
  padding: 0 0 6px;
  text-align: center;
}
  
/* Image Alignment */
.field-type-image {
  margin: 0;
  padding: 0;
}
.ia-l .field-type-image {
  float: left;
  clear: left;
  margin: 4px 15px 0 0;
}
.ia-r .field-type-image {
  float: right;
  clear: right;
  margin: 4px 0 0 15px;
}
.ia-l .field-type-image,
.ia-r .field-type-image,
.ia-c .field-type-image {
  text-align: center;
}
.ia-l .field-type-image  img,
.ia-r .field-type-image  img,
.ia-c .field-type-image img {
  margin: auto;
}
.ia-c .field-type-image,
.ia-n .field-type-image {
  float: none;
  clear: both;
  border: none;
}
.ia-c .field-type-image figure,
.ia-n .field-type-image figure {
  border: none;
  padding: 10px 0;
}
.ia-n .field-type-image {
  margin: 0;
  text-align: left;
}
.ia-n .field-type-image figcaption {
  text-align: left;
}
.field-type-image.field-label-above {
  margin-top: 0;
}
.field-type-image .field-label {
  margin-bottom: 0.5em;
}
.field-type-image.field-label-inline .field-label {
  margin-bottom: 0;
  line-height: 1;
}
/* Override image alignment with short codes, 
   its takes a lot to override the theme settings for image alignment */
body .image-left,
body div.image-left,
body div.image-left .field-type-image {
  float: left;
  margin: 4px 15px 0 0;
  text-align: left;
}
body .image-left img,
body div.image-left img,
body div.image-left .field-type-image img {
  text-align: left;
  margin: 0;
}
body .image-right,
body div.image-right,
body div.image-right .field-type-image {
  float: right;
  margin: 4px 0 0 15px;
  text-align: right;
}
body .image-right img,
body div.image-right img,
body div.image-right .field-type-image img {
  text-align: right;
  margin: 0;
}
body .image-center,
body .image-center img,
body div.image-center,
body div.image-center .field-type-image {
  text-align: center;
}
body .image-center,
body div.image-center,
body div.image-center .field-type-image img{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* Reset node from image fields */
form.node-form div.field-type-image {
  text-align: left !important;
}
form.node-form div.field-type-image {
  float: none !important;
  margin: 0 !important;
}
form.node-form div.field-type-image img {
  text-align: left !important;
  display: inline !important;
  margin: 0 !important;
}

/* Font-Family Presets */
/* sans-serif small */
body.bf-sss,
.bf-sss .form-text,
.snf-sss #site-name,
.ssf-sss #site-slogan,
.ptf-sss #page-title,
.ntf-sss .article-title,
.ctf-sss .comment-title,
.btf-sss .block-title {
  font-family: "Trebuchet MS", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
/* sans-serif large */
body.bf-ssl,
.bf-ssl .form-text,
.snf-ssl #site-name,
.ssf-ssl #site-slogan,
.ptf-ssl #page-title,
.ntf-ssl .article-title,
.ctf-ssl .comment-title,
.btf-ssl .block-title {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
/* sans-serif arial/helvitica */
body.bf-a,
.bf-a .form-text,
.snf-a #site-name,
.ssf-a #site-slogan,
.ptf-a #page-title,
.ntf-a .article-title,
.ctf-a .comment-title,
.btf-a .block-title {
  font-family: Arial, Helvetica, sans-serif;
}
/* calibri and candara windows fonts */
body.bf-cc,
.bf-cc .form-text,
.snf-cc #site-name,
.ssf-cc #site-slogan,
.ptf-cc #page-title,
.ntf-cc .article-title,
.ctf-cc .comment-title,
.btf-cc .block-title {
  font-family: Calibri, Candara, Arial, Helvetica, sans-serif;
}
/* serif small */
body.bf-ss,
.bf-ss .form-text,
.snf-ss #site-name,
.ssf-ss #site-slogan,
.ptf-ss #page-title,
.ntf-ss .article-title,
.ctf-ss .comment-title,
.btf-ss .block-title {
  font-family: Garamond, Perpetua, "Times New Roman", serif;
}
/* serif large */
body.bf-sl,
.bf-sl .form-text,
.snf-sl #site-name,
.ssf-sl #site-slogan,
.ptf-sl #page-title,
.ntf-sl .article-title,
.ctf-sl .comment-title,
.btf-sl .block-title {
  font-family: Georgia, Baskerville, Palatino, "Palatino Linotype", "Book Antiqua", "Times New Roman", serif;
}
/* Modern/Myriad */
body.bf-m,
.bf-m .form-text,
.snf-m #site-name,
.ssf-m #site-slogan,
.ptf-m #page-title,
.ntf-m .article-title,
.ctf-m .comment-title,
.btf-m .block-title {
  font-family: "Segoe UI", "Myriad Pro", Myriad, Arial, Helvetica, sans-serif;
}
/* Lucida */
body.bf-l,
.bf-l .form-text,
.snf-l #site-name,
.ssf-l #site-slogan,
.ptf-l #page-title,
.ntf-l .article-title,
.ctf-l .comment-title,
.btf-l .block-title {
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Grande", Verdana, Geneva, sans-serif;
}
/* mono */
body.bf-ms,
.bf-ms .form-text,
.snf-ms #site-name,
.ssf-ms #site-slogan,
.ptf-ms #page-title,
.ntf-ms .article-title,
.ctf-ms .comment-title,
.btf-ms .block-title {
  font-family: Consolas, Monaco, "Courier New", Courier, monospace;
}

/* Base fontsize */
.fs-smallest {font-size: 0.833em;}
.fs-small {font-size: 0.917em;}
.fs-medium {font-size: 1em;}
.fs-large {font-size: 1.083em;}
.fs-largest {font-size: 1.167em;}

/* Heading styles */
.hs-caps h1,
.hs-caps h2,
.hs-caps h3,
.hs-caps h4,
.hs-caps h5,
.hs-caps h6 {
  text-transform: uppercase;
}
.hs-fwn h1,
.hs-fwn h2,
.hs-fwn h3,
.hs-fwn h4,
.hs-fwn h5,
.hs-fwn h6 {
  font-weight: 400;
}
.hs-ts .block-title {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

/* Title case */
.snc-n #site-name,
.ssc-n #site-slogan,
.ptc-n #page-title,
.ntc-n .article-title,
.ctc-n .comment-title,
.btc-n .block-title {
  text-transform: none;
}
.snc-uc #site-name,
.ssc-uc #site-slogan,
.ptc-uc #page-title,
.ntc-uc .article-title,
.ctc-uc .comment-title,
.btc-uc .block-title {
  text-transform: uppercase;
}
.snc-lc #site-name,
.ssc-lc #site-slogan,
.ptc-lc #page-title,
.ntc-lc .article-title,
.ctc-lc .comment-title,
.btc-lc .block-title {
  text-transform: lowercase;
}
.snc-c #site-name,
.ssc-c #site-slogan,
.ptc-c #page-title,
.ntc-c .article-title,
.ctc-c .comment-title,
.btc-c .block-title {
  text-transform: capitalize;
}
.snc-sc #site-name,
.ssc-sc #site-slogan,
.ptc-sc #page-title,
.ntc-sc .article-title,
.ctc-sc .comment-title,
.btc-sc .block-title {
  text-transform: none;
  font-variant: small-caps;
}

/* Title weight */
.snw-n #site-name,
.ssw-n #site-slogan,
.ptw-n #page-title,
.ntw-n .article-title,
.ctw-n .comment-title,
.btw-n .block-title {
  font-weight: 400;
}
.snw-b #site-name,
.ssw-b #site-slogan,
.ptw-b #page-title,
.ntw-b .article-title,
.ctw-b .comment-title,
.btw-b .block-title {
  font-weight: 700;
}

/* Title alignments */
.pta-l #page-title,
.nta-l .article-title,
.cta-l .comment-title,
.bta-l .block-title {
  text-align: left;
}
.pta-r #page-title,
.nta-r .article-title,
.cta-r .comment-title,
.bta-r .block-title{
  text-align: right;
}
.pta-c #page-title,
.nta-c .article-title,
.cta-c .comment-title,
.bta-c .block-title{
  text-align: center;
}

/* Title shadows */
.sns-l #site-name,
.sss-l #site-slogan,
.pts-l #page-title,
.nts-l .article-title,
.cts-l .comment-title,
.bts-l .block-title{
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
.sns-d #site-name,
.sss-d #site-slogan,
.pts-d #page-title,
.nts-d .article-title,
.cts-d .comment-title,
.bts-d .block-title{
  text-shadow: 0 1px 1px rgba(0,0,0,0.5); 
}
.sns-w #site-name,
.sss-w #site-slogan,
.pts-w #page-title,
.nts-w .article-title,
.cts-w .comment-title,
.bts-w .block-title{
  text-shadow: 0 1px 1px rgba(255,255,255,0.8); 
}

/* Login block - horizontal (theme setting) */
.lb-h {
  min-width: 320px;
  margin-top: 1px;
}
.region-header .lb-h {
  float: right;
} 
.lb-h .block-inner,
.lb-h .block-content {
  background: none;
  padding: 0;
}
.lb-h #user-login-form {
  margin: 0;
}
.lb-h #user-login-form label {
  line-height: 1.2
}
.lb-h .form-item {
  float:left;
  margin: 0;
}
.lb-h input.form-text {
  margin:0 3px 0 0;
  width:110px;
}
.lb-h #edit-actions {
  margin: 0;
}
.lb-h input.form-submit {
  margin: 0 !important;
  padding: 1px 3px !important;
  position: absolute;
  right: 30px;
  top: 1.2em;
}
.lb-h .form-required,
.lb-h .item-list {
  display: none;
}
.lb-h h2 {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1px 1px 1px 1px);
}

/* Box shadows */
.sc-n #page  {
  -webkit-box-shadow:0 0 0 transparent;
  -moz-box-shadow:0 0 0 transparent;
  box-shadow:0 0 0 transparent;
}
.bs-l #page {
  -webkit-box-shadow:0 0 10px rgba(76, 76, 76, 0.7);
  -moz-box-shadow:0 0 10px rgba(76, 76, 76, 0.7);
  box-shadow:0 0 10px rgba(76, 76, 76, 0.7);
}
.bs-d #page  {
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.9);
  -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.9);
  box-shadow:0 0 10px rgba(0, 0, 0, 0.9);
}

/* Bullets */
.mb-n ul.menu {
  padding: 0;
  margin: 0;
} 
.mb-n ul li.leaf,   
.mb-n ul li.collapsed,
.mb-n ul li.expanded {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
.mb-ah ul.menu {
  padding: 0 0 0 1.1em;
  margin: 0;
}
.mb-ah ul li.leaf,   
.mb-ah ul li.collapsed,
.mb-ah ul li.expanded {
  list-style-image: url(images/arrow-head.png);
}
.mb-ad ul.menu {
  padding: 0 0 0 1.2em;
  margin: 0;
}
.mb-ad ul li.leaf,   
.mb-ad ul li.collapsed,
.mb-ad ul li.expanded {
  list-style-image: url(images/arrow-double.png);
}
.mb-ca ul.menu {
  padding: 0 0 0 1.6em;
  margin: 0;
} 
.mb-ca ul li.leaf,   
.mb-ca ul li.collapsed,
.mb-ca ul li.expanded {
  list-style-image: url(images/arrow-circle.png);
}
.mb-fa ul.menu {
  padding: 0 0 0 1.6em;
  margin: 0;
} 
.mb-fa ul li.leaf,   
.mb-fa ul li.collapsed,
.mb-fa ul li.expanded {
  list-style-image: url(images/arrow-fat.png);
}
.mb-sa ul.menu {
  padding: 0 0 0 1.6em;
  margin: 0;
} 
.mb-sa ul li.leaf,   
.mb-sa ul li.collapsed,
.mb-sa ul li.expanded {
  list-style-image: url(images/arrow-skinny.png);
}

/* Rounded corners */
.itrc-2 input.form-text,
.isrc-2 input.form-submit {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}
.itrc-3 input.form-text,
.isrc-3 input.form-submit {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
.itrc-4 input.form-text,
.isrc-4 input.form-submit {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
.itrc-6 input.form-text,
.isrc-6 input.form-submit {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}
.itrc-8 input.form-text,
.isrc-8 input.form-submit {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}
.itrc-10 input.form-text,
.isrc-10 input.form-submit {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
.itrc-12 input.form-text,
.isrc-12 input.form-submit {
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
}

/* Featured backgrounds */
#secondary-content-wrapper,
#secondary-content-wrapper .image-overlay {
  min-height: 25px;
}
.opera #secondary-content-wrapper {
  margin-bottom: 15px;
}
body.bb-n #secondary-content-wrapper .image-overlay,
body.bb-n #tertiary-content-wrapper .image-overlay {
  background-image: none;
}
body.bb-b #secondary-content-wrapper .image-overlay,
body.bb-b #tertiary-content-wrapper .image-overlay {
  background-image: url(images/bubbles.png);
  background-position: 0 0;
  background-repeat: repeat;
}
body.bb-hs #secondary-content-wrapper .image-overlay,
body.bb-hs #tertiary-content-wrapper .image-overlay {
  background-image: url(images/hoz-stripe.png);
  background-position: 0 0;
  background-repeat: repeat;
}
body.bb-dp #secondary-content-wrapper .image-overlay,
body.bb-dp #tertiary-content-wrapper .image-overlay {
  background-image: url(images/diagonal-pattern.png);
  background-position: 0 0;
  background-repeat: repeat;
}
body.bb-dlt #secondary-content-wrapper .image-overlay,
body.bb-dlt #tertiary-content-wrapper .image-overlay {
  background-image: url(images/diagonal-tight.png);
  background-position: 0 0;
  background-repeat: repeat;
}
body.bb-dll #secondary-content-wrapper .image-overlay,
body.bb-dll #tertiary-content-wrapper .image-overlay {
  background-image: url(images/diagonal-loose.png);
  background-position: 0 0;
  background-repeat: repeat;
}
body.bb-sd #secondary-content-wrapper .image-overlay,
body.bb-sd #tertiary-content-wrapper .image-overlay {
  background-image: url(images/dots-small.png);
  background-position: 0 0;
  background-repeat: repeat;
}
body.bb-bd #secondary-content-wrapper .image-overlay,
body.bb-bd #tertiary-content-wrapper .image-overlay {
  background-image: url(images/dots-big.png);
  background-position: 0 0;
  background-repeat: repeat;
  min-height: 40px;
}
/* Noggin header image extra settings */
body.ni-a-tl div#header-wrapper {background-position: top left;}
body.ni-a-tr div#header-wrapper {background-position: top right;}
body.ni-a-tc div#header-wrapper {background-position: top center;}
body.ni-a-ml div#header-wrapper {background-position: center left;}
body.ni-a-mr div#header-wrapper {background-position: center right;}
body.ni-a-mc div#header-wrapper {background-position: center center;}
body.ni-a-bl div#header-wrapper {background-position: bottom left;}
body.ni-a-br div#header-wrapper {background-position: bottom center;}
body.ni-a-bc div#header-wrapper {background-position: bottom right;}
body.ni-r-r   div#header-wrapper {background-repeat: repeat;}
body.ni-r-rx div#header-wrapper {background-repeat: repeat-x;}
body.ni-r-ry div#header-wrapper {background-repeat: repeat-y;}
body.ni-r-nr div#header-wrapper {background-repeat: no-repeat;}
body.ni-w-ftw div#header-wrapper {
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  -khtml-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
  background-origin: border-box;
}
