/*
 * NOTICE: This is a commercial Drupal theme. Elements of this theme including this field
 * are licensed under a standard commercial license which does not permit redistribution. 
 */

html {
  font-size: 81.3%; /* 13px base font size */
}

body {
  line-height: 1.6:
}


/* Micro reset */
h1, h2, h3, h4, h5, h6,
h1 img, h2 img, h3 img, 
h4 img, h5 img, h6 img,
em, dfn, del, ins {
  margin: 0; 
  padding: 0;
}

/* Headings */
h1 {
  font-size: 2em;
  margin: 0 0 0.5em 0;
  padding: 0;
}
h2 {
  font-size: 1.5em; 
}
h3 {
  font-size: 1.333em;
}
h4 {
  font-size: 1.167em;
}
h5, h6 {
  font-size: 1em;
}
p {
  margin: 0 0 0.75em; 
  padding: 0;
}
blockquote p {
  margin: 0;
}
strong {
  font-weight: bold;
}
em, dfn {
  font-style: italic; 
}
dfn {
  font-weight: bold;
}
sup, sub {
  line-height: 0;
}
del {
  color: #666; 
}
ins {
  border-bottom: none;
  text-decoration: none;
}
pre, code {
  margin: 1.5em 0; 
  padding: 0; 
  white-space: pre;
}
pre, code, tt {
  font: 1em "Andale Mono", "Lucida Console", monospace;
}
p code {
  font: 1em "Courier New", Courier, monospace;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
li li, li p, td p, blockquote p {
  font-size: 1em; /* Mitigate relative shrinkage */
}
blockquote, q {
  font-style: italic;
  margin: 0 0 1.5em;
  padding: 0 0 0 3em;
}
blockquote:before, 
blockquote:after, 
q:before, q:after {
  content: ""; /* Remove possible quote marks (") from <q>, <blockquote>. */
}
blockquote, q {
  quotes: "" "";
}
table {
  border-spacing: 0;
  margin: 0; 
  padding: 0; 
  width: 100%;
}

/* Global Link Styles */
 a {
  margin: 0; 
  padding: 0;
  text-decoration: none;
}

a:link,
a:visited {}

a:hover,
a:focus,
a:active  {}

a.active  {}
a.active-trail {}

/* Drupal sets this to black. */
li a.active {}

/* Remove borders on linked images. */
a img {
  border: none;
}

/* Lists */
ul, ol {
  margin: 0 0 1em 15px;
  padding: 0;
}

li {
  margin: 0; 
  padding: 0;
}

/* Set nested list indentation */
ul ul, ul ol,
ol ol, ol ul,
.block ul ul,
.block ul ol,
.block ol ol,
.block ol ul,
.item-list ul ul,
.item-list ul ol,
.item-list ol ol,
.item-list ol ul {
  margin: 0 0 0 15px;
}

/* Set nested list list-style-types */
ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ul ul ul {
  list-style-type: square;
}
ul ul ul ul {
  list-style-type: circle;
}
ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: decimal;
}

dt {
  font-weight: bold;
}
dd {
  margin: 0 0 1.5em 1.75em;
}
.item-list ul, 
.item-list ol {
  margin: 0 0 0 15px;
  padding: 0;  
}
.item-list ul li {
  margin: 0;
  padding: 0; 
}



#header-wrapper {
  border-bottom: 1px solid #fff;
}
#header-wrapper header {
  margin: 0 10px; /* align to the grid */
}
#branding {
  margin: 25px 0 0; 
}
#logo {
  padding-top: 0.214em;
}
#site-name {
  font-size: 3em;
}
#site-slogan {
  font-size: 2.3em; /* trying for the x-height of the site name, but this won't always match */
  padding-left: 10px;
  padding-right: 10px;
}
#site-name,
#site-slogan {
  display: inline;
  line-height: 1;
}

/* Menu bar */
#menu-bar {
  position: relative;
  top: 1.5em;
  min-height: 3em;
  clear: both;
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}
.nav ul,
.nav ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav .block {
  margin: 0 5px;
}
.nav ul li,
.nav ul li a {
  line-height: 3em;
  float: left;
  display: block;
}
.nav ul li a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
}
.nav ul li a.active,
.nav ul li.active-trail a {}

/* Basic block styles */
.block {
  margin-bottom: 20px;
}

/* Wrapper white space */
#content-wrapper {
  padding-top: 4em;
  padding-bottom: 30px;
}
#quint-panels-wrapper {
  padding: 30px 0 15px;
}
#footer-panels-wrapper {
  padding: 30px 0 15px;
}
#footer-wrapper {
  padding: 20px 0 15px;
}

/* Zone specific styling */
.four-4x25 ul,
.four-4x25 ul li {
  list-style: none;
  list-style-type: none; /* IE6/7 */
  margin: 0;
}

















/* Local task tabs */
ul.primary {
  margin: 10px 0 20px;
  padding: 0;
}
ul.primary li a {
  font-weight: 700;
  line-height: 1.7;
  margin-right: 0;
  padding: 0 8px 0 2px;
}
ul.primary li a,
ul.primary li a:hover,
ul.primary li a.active,
ul.primary li.active a,
ul.primary li a.active:hover,
ul.primary li a.active:focus {
  border: 0;
}

/* Contextual link reset - be brutal */
.contextual-links-wrapper .contextual-links {
  margin: 0 !important;
  padding: 0.25em 0 !important;
}
.contextual-links-wrapper .contextual-links li {
  display: block !important;
  float: none !important;
  line-height: 100% !important;
  list-style: none !important;
  list-style-type: none !important;
  margin: 0 !important;
  padding: 0 !important;
}
.contextual-links-wrapper .contextual-links a {
  font-family: Arial, sans-serif !important;
  font-size: small !important;
  font-weight: 400 !important;
  font-variant: normal !important;
  line-height: 1.2em !important;
  text-decoration: none !important;
  text-transform: none !important;
  color: #333 !important;
  display: block !important;
  float: none !important;
  margin: 0.25em 0 !important;
  padding: 0.25em 1em 0.25em 0.5em !important;
}
