/* AT Commerce override of commerce_cart.css */
.view-commerce-cart-block tr {
  vertical-align: top;
}
.view-commerce-cart-block .views-field-quantity {
  white-space: nowrap;
}
.view-commerce-cart-block td.price,
.view-commerce-cart-form td.price,
.view-commerce-cart-summary td.price {
  white-space: nowrap;
}
.view-commerce-cart-form tr,
.view-commerce-cart-summary tr {
  vertical-align: top;
}
.commerce-order-handler-area-order-total .commerce-price-formatted-components {
  width: 33%;
  margin-left: auto;
}
.commerce-order-handler-area-order-total .commerce-price-formatted-components tr.component-type-commerce-price-formatted-amount {
  font-weight: bold;
}

/* We add additional classes for finger grained styles */